body{
    background-color: midnightblue;
}
div1{
    background-color: midnightblue;
}
titulo{
    color: rgb(146, 184, 182);
}
info{
    color: rgb(133, 160, 161);
}
crds{
    background-color: midnightblue;
}
frm{
    background-color: blue;
}
form{
    color: white;
}
.accordion-button{
    color: rgb(255, 255, 255);
    background-color: blue;
}
